.name{
    color: #FFF;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.start{
    width: 338px;
    height: 183px;
    border-radius: 10px;
    border: 1px solid #000;
    background: rgba(217, 217, 217, 0.80);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
body{
    background-image: url(pixel_space.jpg);
}
.text{color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
.question{color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;}
.choice{
border-radius: 60%;
background: rgba(217, 217, 217, 0.80);
width: 309px;
height: 168px;
flex-shrink: 0;
margin: 20px;
margin-left: auto;
margin-right: auto;
display: flex;
flex-direction: row;

}
img{
    display: block;
    width: 133px;
height: 100px;

    padding: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}
.result{
    width: 249px;
    height: 211px;
    background: #D9D9D9;
}